<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>Coffee Shop</title>
</head>

<body>
    <div id="vueapp" class="shop-container">
        <h1>Coffee Shop</h1>
        <div class="shop-list">
            <button class="add-item" @click="addList()"><i class="fa-solid fa-plus"></i>新增訂單</button>
            <table>
                <thead>
                    <tr>
                        <th>品項名稱</th>
                        <th>價格</th>
                        <th>大小</th>
                        <th>備註</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in coffeeList">
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.size}}</td>
                        <td>{{item.notes}}</td>
                        <td style="text-align: center;cursor: pointer;" @click="editList(item,index)">編輯</td>
                        <td style="text-align: center;cursor: pointer;font-size: 30px;"
                            @click="delList(item,index)">
                            &times;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- 新增訂單 -->
        <div class="list" id="add-list">
            <div class="title">
                <h2>新增訂單</h2>
                <span class="close" @click='closeAddList()'>&times;</span>
            </div>

            <div class="content">
                <label for="">名稱</label><input type="text" v-model="addItem.name">
                <label for="">價格</label><input type="text" v-model="addItem.price">
                <label for="">大小</label><input type="text" v-model="addItem.size">
                <label for="">備註</label><input type="text" v-model="addItem.notes">
            </div>
            <button class="submit" style="right: 100px;" id="add-btn" @click="add()">新增品項</button>
            <button class="submit" @click='closeAddList()'>取消</button>
        </div>
        <!-- 編輯訂單 -->
        <div class="list" id="edit-list">
            <div class="title">
                <h2>編輯訂單</h2>
                <span class="close" @click='closeEditList()'>&times;</span>
            </div>

            <div class="content">
                <label for="">名稱</label><input type="text" v-model="editItem.name">
                <label for="">價格</label><input type="text" v-model="editItem.price">
                <label for="">大小</label><input type="text" v-model="editItem.size">
                <label for="">備註</label><input type="text" v-model="editItem.notes">
            </div>
            <button class="submit" style="right: 100px;" id="add-btn" onclick="edit()">修改品項</button>
            <button class="submit" @click='closeEditList()'>取消</button>
        </div>
        <!-- 刪除訂單 -->
        <div class="list" id="del-list">
            <div class="title">
                <h2>刪除訂單</h2>
                <span class="close" @click='closeDelList()'>&times;</span>
            </div>
            <div class="content">
                是否要刪除此訂單?
            </div>
            <button class="submit" style="right: 100px;" @click="del">確定</button>
            <button class="submit" @click='closeDelList()'>取消</button>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://kit.fontawesome.com/9c0a200deb.js" crossorigin="anonymous"></script>
<script>
    const vueApp = new Vue({
        data() {
            return {
                coffeeList: [
                    {
                        id:"0",
                        name: "伯爵鮮奶茶",
                        price: "$80",
                        size: "L",
                        notes: ""
                    },
                    {
                        id:"1",
                        name: "伯爵鮮奶茶",
                        price: "$70",
                        size: "M",
                        notes: ""
                    }
                ],
                addItem: {
                    id:"",
                    name: "",
                    price: "",
                    size: "",
                    notes: ""
                },
                editItem: {
                    id:"",
                    name: "",
                    price: "",
                    size: "",
                    notes: ""
                }
            }
        },
        methods: {
            // 新增人員
            addList() {
                $('#add-list').css('opacity', '1');
                $('#add-list').css('transform', 'translateY(0px)');
            },
            add() {
                var newId = vueApp.coffeeList.length;
                vueApp.coffeeList.push({
                    id: newId,
                    name: vueApp.addItem.name,
                    price: vueApp.addItem.price,
                    size: vueApp.addItem.size,
                    notes: vueApp.addItem.notes
                })
                console.log(vueApp.coffeeList);
                $('#add-list').css('opacity', '0');
                $('#add-list').css('transform', 'translateY(-700px)');
                //新增視窗清除
                vueApp.addItem = {
                    id:"",
                    name: "",
                    price: "",
                    size: "",
                    notes: ""
                }
            },
            closeAddList() {
                $('#add-list').css('opacity', '0');
                $('#add-list').css('transform', 'translateY(-700px)');
                //新增視窗清除
                vueApp.addItem = {
                    id:"",
                    name: "",
                    price: "",
                    size: "",
                    notes: ""
                }
            },
            // 編輯人員
            editList(item, index) {
                this.editItem = {
                    ...item
                };
                $('#edit-list').css('opacity', '1');
                $('#edit-list').css('transform', 'translateY(0px)');
                edit(item, index);
            },
            closeEditList() {
                $('#edit-list').css('opacity', '0');
                $('#edit-list').css('transform', 'translateY(-700px)');
            },
            // 刪除人員
            delList(item, index) {
                $('#del-list').css('opacity', '1');
                $('#del-list').css('transform', 'translateY(0px)');
                del(item, index);
            },
            del(list, num) {
                vueApp.coffeeList.splice(num, 1);
                $('#del-list').css('opacity', '0');
                $('#del-list').css('transform', 'translateY(-400px)');
            },
            closeDelList() {
                $('#del-list').css('opacity', '0');
                $('#del-list').css('transform', 'translateY(-400px)');
            }
        },
        // computed: {
        //     edit: function(list) {
        //         vueApp.coffeeList.splice(vueApp.coffeeList.indexOf(list), 1, vueApp.editItem);
        //         $('#edit-list').css('opacity', '0');
        //         $('#edit-list').css('transform', 'translateY(-700px)');
        //         console.log(vueApp.coffeeList.indexOf(list));
        //     },
        // },
    }).$mount('#vueapp');
    function edit(list, num) {
        vueApp.coffeeList.splice(vueApp.coffeeList.indexOf(list), 1, vueApp.editItem);
        $('#edit-list').css('opacity', '0');
        $('#edit-list').css('transform', 'translateY(-700px)');
        console.log(vueApp.coffeeList.indexOf(list));
    };
</script>

</html>